.main-hero {
  min-height: 100vh;
  background-color: aqua;
  font-size: 1.6rem;
  font-weight: 500;
  background: url(./assets/backgroundImage/modelSBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
