.order-main {
  height: 6rem;
  margin: 0 auto;
  margin-top: 28rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1rem 10rem;
  border-radius: 1rem;
}

.btn-grey {
  background: #171a20;
  opacity: 0.8;
  color: #f4f4f4;
}

.btn-cream {
  background: #f4f4f4;
  opacity: 0.6;
  color: #171a20;
}

@media screen and (max-width: 768px) {
  .order-main {
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
  }
}
